# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
.env

# VS Code settings
.vscode/

sqlite_clone.log

test.db
users.db
users.tbl
tempCodeRunnerFile.py
_catalog.tbl
test3.py
test4.py
__catalog.tbl
test_crud_cycle.py
database
logs/
*.log