# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
.env

# VS Code settings
.vscode/

sqlite_clone.log

test.db
test.py
users.db
users.tbl
table.py